* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f7efe5;
}

/* NAV */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #efe3d6;
}

/* HERO */
.hero {
  height: 90vh;
  background: url("https://images.unsplash.com/photo-1551024601-bec78aea704b") center/cover no-repeat;
  display: flex;
  align-items: center;
  padding: 60px;
}

.hero h1 {
  font-size: 60px;
}

/* CARDS */
.desserts {
  padding: 60px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 25px;
}

.card img {
  width: 100%;
  border-radius: 20px;
}