* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f7efe5;
  color: #2d2d2d;
}

/* LOGO */
.logo {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 24px;
}

/* smooth transition */
.nav {
  transition: all 0.3s ease;
}

/* när man scrollar */
.nav.scrolled {
  padding: 12px 60px; /* mindre navbar */
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
}
.nav.scrolled {
  padding: 10px 60px;
  background: #e4d2c3;
  backdrop-filter: blur(6px);
}
/* NAV */
.nav {
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 60px;
  background: #e4d2c3;
}

.nav nav {
  display: flex;
  gap: 10px;
}

.nav nav a {
  text-decoration: none;
  color: black;
  padding: 8px 16px;
  border-radius: 20px;
  transition: 0.3s;
}

.nav nav a:hover {
  background: #ccb398;
}

.nav nav a.active {
  background: #8b3a1c;
  color: white;
}

.nav-btn {
  background: #8b3a1c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  gap: 60px;
}

.hero-text {
  max-width: 800px;
  flex: 1;
}

.hero-text h1 {
  font-size: 56px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 18px;
  line-height: 1.6;
}

.hero-img {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hero-img img {
  width: 100%;
  max-width: 500px;
  border-radius: 25px;
  transition: opacity 0.5s ease;
}

/* CARDS */
.recipes {
  padding: 60px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 30px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 20px;
  transition: 0.3s;
}

.card img {
  width: 100%;
  border-radius: 15px;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}

/* MOBILE */
@media (max-width: 900px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .cards {
    grid-template-columns: 1fr;
  }
}